Import et nettoyage des données

In [27]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [28]:
df = pd.read_csv("../Churn.csv")
df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [29]:
doublons = df[df.duplicated()]
print(doublons)

Empty DataFrame
Columns: [customerID, gender, SeniorCitizen, Partner, Dependents, tenure, PhoneService, MultipleLines, InternetService, OnlineSecurity, OnlineBackup, DeviceProtection, TechSupport, StreamingTV, StreamingMovies, Contract, PaperlessBilling, PaymentMethod, MonthlyCharges, TotalCharges, Churn]
Index: []

[0 rows x 21 columns]

In [30]:
df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   gender            7043 non-null   object
 2   SeniorCitizen     7043 non-null   int64
 3   Partner           7043 non-null   object
 4   Dependents        7043 non-null   object
 5   tenure            7043 non-null   int64
 6   PhoneService      7043 non-null   object
 7   MultipleLines     7043 non-null   object
 8   InternetService   7043 non-null   object
 9   OnlineSecurity    7043 non-null   object
 10  OnlineBackup      7043 non-null   object
 11  DeviceProtection  7043 non-null   object
 12  TechSupport       7043 non-null   object
 13  StreamingTV       7043 non-null   object
 14  StreamingMovies   7043 non-null   object
 15  Contract          7043 non-null   object
 16  PaperlessBilling  7043 non-null   object
 17  PaymentMethod     7043 non-null   object
 18  MonthlyCharges    7043 non-null   float64
 19  TotalCharges      7043 non-null   object
 20  Churn             7043 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.1+ MB

       SeniorCitizen       tenure  MonthlyCharges
count    7043.000000  7043.000000     7043.000000
mean        0.162147    32.371149       64.761692
std         0.368612    24.559481       30.090047
min         0.000000     0.000000       18.250000
25%         0.000000     9.000000       35.500000
50%         0.000000    29.000000       70.350000
75%         0.000000    55.000000       89.850000
max         1.000000    72.000000      118.750000

In [31]:
df["TotalCharges"] = df["TotalCharges"].replace(" ", pd.NA)
df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

suppression des manquants de totalcharges

In [32]:
df = df.dropna(subset=["TotalCharges"])
df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [33]:
n_missing = df["TotalCharges"].isna().sum()
print(f"TotalCharges manquants : {n_missing}")
print(df[df["TotalCharges"].isna()])

TotalCharges manquants : 0
Empty DataFrame
Columns: [customerID, gender, SeniorCitizen, Partner, Dependents, tenure, PhoneService, MultipleLines, InternetService, OnlineSecurity, OnlineBackup, DeviceProtection, TechSupport, StreamingTV, StreamingMovies, Contract, PaperlessBilling, PaymentMethod, MonthlyCharges, TotalCharges, Churn]
Index: []

[0 rows x 21 columns]

traitement des types des colonnes

In [34]:
df["TotalCharges"] = df["TotalCharges"].astype("float32")

Suppression des colonnes inutiles

In [35]:
df.drop(columns=["customerID"], inplace=True)

Typage des colonnes

In [36]:
# Booléens
df["SeniorCitizen"] = df["SeniorCitizen"].astype("bool")
for col in ["Partner","Dependents","PhoneService","PaperlessBilling","Churn"]:
    df[col] = df[col].map({"Yes": True, "No": False})

# Catégorielles
cat_cols = [
    "gender","MultipleLines","InternetService","OnlineSecurity",
    "OnlineBackup","DeviceProtection","TechSupport","StreamingTV",
    "StreamingMovies","Contract","PaymentMethod"
]
for col in cat_cols:
    df[col] = df[col].astype("category")

# Numériques
df["tenure"] = df["tenure"].astype("int16")
df["MonthlyCharges"] = df["MonthlyCharges"].astype("float32")

# one hot encoding

In [38]:

df = pd.get_dummies(
    df,
    columns=cat_cols,
    drop_first=False,
    dtype=int
)

df.head()
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7032 entries, 0 to 7042
Data columns (total 42 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   SeniorCitizen                            7032 non-null   bool
 1   Partner                                  7032 non-null   bool
 2   Dependents                               7032 non-null   bool
 3   tenure                                   7032 non-null   int16
 4   PhoneService                             7032 non-null   bool
 5   PaperlessBilling                         7032 non-null   bool
 6   MonthlyCharges                           7032 non-null   float32
 7   TotalCharges                             7032 non-null   float32
 8   Churn                                    7032 non-null   bool
 9   gender_Female                            7032 non-null   int64
 10  gender_Male                              7032 non-null   int64
 11  MultipleLines_No                         7032 non-null   int64
 12  MultipleLines_No phone service           7032 non-null   int64
 13  MultipleLines_Yes                        7032 non-null   int64
 14  InternetService_DSL                      7032 non-null   int64
 15  InternetService_Fiber optic              7032 non-null   int64
 16  InternetService_No                       7032 non-null   int64
 17  OnlineSecurity_No                        7032 non-null   int64
 18  OnlineSecurity_No internet service       7032 non-null   int64
 19  OnlineSecurity_Yes                       7032 non-null   int64
 20  OnlineBackup_No                          7032 non-null   int64
 21  OnlineBackup_No internet service         7032 non-null   int64
 22  OnlineBackup_Yes                         7032 non-null   int64
 23  DeviceProtection_No                      7032 non-null   int64
 24  DeviceProtection_No internet service     7032 non-null   int64
 25  DeviceProtection_Yes                     7032 non-null   int64
 26  TechSupport_No                           7032 non-null   int64
 27  TechSupport_No internet service          7032 non-null   int64
 28  TechSupport_Yes                          7032 non-null   int64
 29  StreamingTV_No                           7032 non-null   int64
 30  StreamingTV_No internet service          7032 non-null   int64
 31  StreamingTV_Yes                          7032 non-null   int64
 32  StreamingMovies_No                       7032 non-null   int64
 33  StreamingMovies_No internet service      7032 non-null   int64
 34  StreamingMovies_Yes                      7032 non-null   int64
 35  Contract_Month-to-month                  7032 non-null   int64
 36  Contract_One year                        7032 non-null   int64
 37  Contract_Two year                        7032 non-null   int64
 38  PaymentMethod_Bank transfer (automatic)  7032 non-null   int64
 39  PaymentMethod_Credit card (automatic)    7032 non-null   int64
 40  PaymentMethod_Electronic check           7032 non-null   int64
 41  PaymentMethod_Mailed check               7032 non-null   int64
dtypes: bool(6), float32(2), int16(1), int64(33)
memory usage: 1.9 MB

In [39]:
df.head()

,SeniorCitizen,Partner,Dependents,tenure,PhoneService,PaperlessBilling,MonthlyCharges,TotalCharges,Churn,gender_Female,...,StreamingMovies_No,StreamingMovies_No internet service,StreamingMovies_Yes,Contract_Month-to-month,Contract_One year,Contract_Two year,PaymentMethod_Bank transfer (automatic),PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check
0,False,True,False,1,False,True,29.850000,29.850000,False,1,...,1,0,0,1,0,0,0,0,1,0
1,False,False,False,34,True,False,56.950001,1889.500000,False,0,...,1,0,0,0,1,0,0,0,0,1
2,False,False,False,2,True,True,53.849998,108.150002,True,0,...,1,0,0,1,0,0,0,0,0,1
3,False,False,False,45,False,False,42.299999,1840.750000,False,0,...,1,0,0,0,1,0,1,0,0,0
4,False,False,False,2,True,True,70.699997,151.649994,True,1,...,1,0,0,1,0,0,0,0,1,0

# conversion des bool en int

In [42]:

bool_cols = df.select_dtypes(include="bool").columns


df[bool_cols] = df[bool_cols].astype("int8")


print(df[bool_cols].head())
print(df[bool_cols].dtypes)

   SeniorCitizen  Partner  Dependents  PhoneService  PaperlessBilling  Churn
0              0        1           0             0                 1      0
1              0        0           0             1                 0      0
2              0        0           0             1                 1      1
3              0        0           0             0                 0      0
4              0        0           0             1                 1      1
SeniorCitizen       int8
Partner             int8
Dependents          int8
PhoneService        int8
PaperlessBilling    int8
Churn               int8
dtype: object

# construction de l’echantillon d’entrainement et de test

In [43]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

X = df.drop(columns=["Churn"])
y = df["Churn"].astype("int8")

X_train, X_test, y_train, y_test = train_test_split(
    X, y,
    test_size=0.2,
    stratify=y,
    random_state=42
)

scaler = StandardScaler()
num_cols = ["tenure","MonthlyCharges","TotalCharges"]
X_train[num_cols] = scaler.fit_transform(X_train[num_cols])
X_test[num_cols]  = scaler.transform(X_test[num_cols])

Modele TensorflowKeras

In [ ]:
import tensorflow as tf

input_dim = X_train.shape[1]

def build_model():
    return tf.keras.Sequential([
        tf.keras.layers.Input(shape=(input_dim,)),
        tf.keras.layers.Dense(64, activation="relu"),
        tf.keras.layers.Dense(64, activation="relu"),
        tf.keras.layers.Dense(1, activation="sigmoid")
    ])

model = build_model()
model.compile(
    optimizer="adam",
    loss="binary_crossentropy",
    metrics=["accuracy"]
)

history = model.fit(
    X_train, y_train,
    validation_split=0.1,
    epochs=50,
    batch_size=32,
    verbose=1
)

Epoch 1/30
159/159 ━━━━━━━━━━━━━━━━━━━━ 2s 3ms/step - accuracy: 0.7507 - loss: 0.5039 - val_accuracy: 0.8064 - val_loss: 0.4035
Epoch 2/30
159/159 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8029 - loss: 0.4140 - val_accuracy: 0.8171 - val_loss: 0.3938
Epoch 3/30
159/159 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8044 - loss: 0.4207 - val_accuracy: 0.8082 - val_loss: 0.3982
Epoch 4/30
159/159 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.8061 - loss: 0.4139 - val_accuracy: 0.8135 - val_loss: 0.3949
Epoch 5/30
159/159 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8054 - loss: 0.4087 - val_accuracy: 0.8064 - val_loss: 0.3979
Epoch 6/30
159/159 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.8052 - loss: 0.4111 - val_accuracy: 0.8153 - val_loss: 0.3929
Epoch 7/30
159/159 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.7979 - loss: 0.4118 - val_accuracy: 0.8224 - val_loss: 0.3941
Epoch 8/30
159/159 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8099 - loss: 0.4064 - val_accuracy: 0.8064 - val_loss: 0.4010
Epoch 9/30
159/159 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8204 - loss: 0.3987 - val_accuracy: 0.8046 - val_loss: 0.3990
Epoch 10/30
159/159 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.8166 - loss: 0.3924 - val_accuracy: 0.8117 - val_loss: 0.4053
Epoch 11/30
159/159 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8176 - loss: 0.3916 - val_accuracy: 0.8064 - val_loss: 0.4011
Epoch 12/30
159/159 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8162 - loss: 0.3950 - val_accuracy: 0.8028 - val_loss: 0.4027
Epoch 13/30
159/159 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8164 - loss: 0.3954 - val_accuracy: 0.8028 - val_loss: 0.4058
Epoch 14/30
159/159 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8255 - loss: 0.3792 - val_accuracy: 0.8028 - val_loss: 0.4095
Epoch 15/30
159/159 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8276 - loss: 0.3690 - val_accuracy: 0.7957 - val_loss: 0.4103
Epoch 16/30
159/159 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8164 - loss: 0.3861 - val_accuracy: 0.8082 - val_loss: 0.4083
Epoch 17/30
159/159 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.8304 - loss: 0.3665 - val_accuracy: 0.7940 - val_loss: 0.4114
Epoch 18/30
159/159 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.8262 - loss: 0.3711 - val_accuracy: 0.7833 - val_loss: 0.4152
Epoch 19/30
159/159 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.8225 - loss: 0.3734 - val_accuracy: 0.7833 - val_loss: 0.4214
Epoch 20/30
159/159 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.8274 - loss: 0.3653 - val_accuracy: 0.7940 - val_loss: 0.4144
Epoch 21/30
159/159 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.8391 - loss: 0.3626 - val_accuracy: 0.7815 - val_loss: 0.4260
Epoch 22/30
159/159 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8448 - loss: 0.3462 - val_accuracy: 0.7869 - val_loss: 0.4356
Epoch 23/30
159/159 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.8291 - loss: 0.3570 - val_accuracy: 0.7869 - val_loss: 0.4294
Epoch 24/30
159/159 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8418 - loss: 0.3504 - val_accuracy: 0.7869 - val_loss: 0.4353
Epoch 25/30
159/159 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8405 - loss: 0.3489 - val_accuracy: 0.7744 - val_loss: 0.4472
Epoch 26/30
159/159 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.8400 - loss: 0.3377 - val_accuracy: 0.8011 - val_loss: 0.4265
Epoch 27/30
159/159 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8442 - loss: 0.3382 - val_accuracy: 0.7869 - val_loss: 0.4297
Epoch 28/30
159/159 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8501 - loss: 0.3304 - val_accuracy: 0.7780 - val_loss: 0.4444
Epoch 29/30
159/159 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8329 - loss: 0.3471 - val_accuracy: 0.7886 - val_loss: 0.4292
Epoch 30/30
159/159 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8561 - loss: 0.3323 - val_accuracy: 0.7762 - val_loss: 0.4486

# Evaluation du modele

In [45]:
loss, acc = model.evaluate(X_test, y_test)
print(f"Test accuracy: {acc:.4f}")

44/44 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.7653 - loss: 0.4857
Test accuracy: 0.7775

# version 2 du modele avec modification des epochs et du validation_split

In [46]:
import tensorflow as tf

input_dim = X_train.shape[1]

def build_model():
    return tf.keras.Sequential([
        tf.keras.layers.Input(shape=(input_dim,)),
        tf.keras.layers.Dense(64, activation="relu"),
        tf.keras.layers.Dense(64, activation="relu"),
        tf.keras.layers.Dense(1, activation="sigmoid")
    ])

model = build_model()
model.compile(
    optimizer="adam",
    loss="binary_crossentropy",
    metrics=["accuracy"]
)

history = model.fit(
    X_train, y_train,
    validation_split=0.2,
    epochs=50,
    batch_size=32,
    verbose=1
)

Epoch 1/50
141/141 ━━━━━━━━━━━━━━━━━━━━ 2s 4ms/step - accuracy: 0.7430 - loss: 0.5111 - val_accuracy: 0.8062 - val_loss: 0.4131
Epoch 2/50
141/141 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.8079 - loss: 0.4231 - val_accuracy: 0.8062 - val_loss: 0.4093
Epoch 3/50
141/141 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8042 - loss: 0.4094 - val_accuracy: 0.8133 - val_loss: 0.4059
Epoch 4/50
141/141 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.8032 - loss: 0.4149 - val_accuracy: 0.8098 - val_loss: 0.4035
Epoch 5/50
141/141 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.8051 - loss: 0.4087 - val_accuracy: 0.8107 - val_loss: 0.4056
Epoch 6/50
141/141 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.8123 - loss: 0.4100 - val_accuracy: 0.7991 - val_loss: 0.4103
Epoch 7/50
141/141 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.8135 - loss: 0.4024 - val_accuracy: 0.8018 - val_loss: 0.4118
Epoch 8/50
141/141 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.8186 - loss: 0.3963 - val_accuracy: 0.8071 - val_loss: 0.4083
Epoch 9/50
141/141 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.8063 - loss: 0.4125 - val_accuracy: 0.8080 - val_loss: 0.4124
Epoch 10/50
141/141 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.8168 - loss: 0.3873 - val_accuracy: 0.8089 - val_loss: 0.4080
Epoch 11/50
141/141 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.8183 - loss: 0.3981 - val_accuracy: 0.7947 - val_loss: 0.4159
Epoch 12/50
141/141 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.8262 - loss: 0.3851 - val_accuracy: 0.8036 - val_loss: 0.4196
Epoch 13/50
141/141 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.8126 - loss: 0.3974 - val_accuracy: 0.7938 - val_loss: 0.4212
Epoch 14/50
141/141 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.8271 - loss: 0.3784 - val_accuracy: 0.7956 - val_loss: 0.4222
Epoch 15/50
141/141 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8184 - loss: 0.3821 - val_accuracy: 0.7911 - val_loss: 0.4206
Epoch 16/50
141/141 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.8254 - loss: 0.3888 - val_accuracy: 0.7973 - val_loss: 0.4259
Epoch 17/50
141/141 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.8340 - loss: 0.3591 - val_accuracy: 0.7911 - val_loss: 0.4312
Epoch 18/50
141/141 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8307 - loss: 0.3736 - val_accuracy: 0.7947 - val_loss: 0.4307
Epoch 19/50
141/141 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.8317 - loss: 0.3668 - val_accuracy: 0.7929 - val_loss: 0.4314
Epoch 20/50
141/141 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.8443 - loss: 0.3500 - val_accuracy: 0.7973 - val_loss: 0.4342
Epoch 21/50
141/141 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.8412 - loss: 0.3550 - val_accuracy: 0.7911 - val_loss: 0.4433
Epoch 22/50
141/141 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8352 - loss: 0.3535 - val_accuracy: 0.7929 - val_loss: 0.4425
Epoch 23/50
141/141 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8412 - loss: 0.3496 - val_accuracy: 0.7751 - val_loss: 0.4402
Epoch 24/50
141/141 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8413 - loss: 0.3569 - val_accuracy: 0.7858 - val_loss: 0.4541
Epoch 25/50
141/141 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8337 - loss: 0.3557 - val_accuracy: 0.7858 - val_loss: 0.4501
Epoch 26/50
141/141 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.8380 - loss: 0.3461 - val_accuracy: 0.7831 - val_loss: 0.4494
Epoch 27/50
141/141 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8455 - loss: 0.3375 - val_accuracy: 0.7876 - val_loss: 0.4634
Epoch 28/50
141/141 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.8446 - loss: 0.3433 - val_accuracy: 0.7760 - val_loss: 0.4594
Epoch 29/50
141/141 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.8493 - loss: 0.3237 - val_accuracy: 0.7840 - val_loss: 0.4621
Epoch 30/50
141/141 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8479 - loss: 0.3385 - val_accuracy: 0.7849 - val_loss: 0.4553
Epoch 31/50
141/141 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.8469 - loss: 0.3288 - val_accuracy: 0.7742 - val_loss: 0.4588
Epoch 32/50
141/141 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8465 - loss: 0.3337 - val_accuracy: 0.7742 - val_loss: 0.4719
Epoch 33/50
141/141 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8514 - loss: 0.3208 - val_accuracy: 0.7769 - val_loss: 0.4687
Epoch 34/50
141/141 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8448 - loss: 0.3293 - val_accuracy: 0.7742 - val_loss: 0.4760
Epoch 35/50
141/141 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8528 - loss: 0.3195 - val_accuracy: 0.7840 - val_loss: 0.4805
Epoch 36/50
141/141 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8524 - loss: 0.3235 - val_accuracy: 0.7671 - val_loss: 0.4877
Epoch 37/50
141/141 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.8524 - loss: 0.3079 - val_accuracy: 0.7733 - val_loss: 0.4949
Epoch 38/50
141/141 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8489 - loss: 0.3123 - val_accuracy: 0.7769 - val_loss: 0.4838
Epoch 39/50
141/141 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8569 - loss: 0.3204 - val_accuracy: 0.7716 - val_loss: 0.4858
Epoch 40/50
141/141 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8593 - loss: 0.3050 - val_accuracy: 0.7724 - val_loss: 0.4956
Epoch 41/50
141/141 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8692 - loss: 0.2975 - val_accuracy: 0.7671 - val_loss: 0.5057
Epoch 42/50
141/141 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.8708 - loss: 0.2883 - val_accuracy: 0.7769 - val_loss: 0.5059
Epoch 43/50
141/141 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.8716 - loss: 0.2905 - val_accuracy: 0.7591 - val_loss: 0.5059
Epoch 44/50
141/141 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.8669 - loss: 0.2981 - val_accuracy: 0.7716 - val_loss: 0.5064
Epoch 45/50
141/141 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.8675 - loss: 0.2948 - val_accuracy: 0.7689 - val_loss: 0.5096
Epoch 46/50
141/141 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.8672 - loss: 0.2851 - val_accuracy: 0.7627 - val_loss: 0.5068
Epoch 47/50
141/141 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.8632 - loss: 0.2921 - val_accuracy: 0.7520 - val_loss: 0.5140
Epoch 48/50
141/141 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.8733 - loss: 0.2847 - val_accuracy: 0.7778 - val_loss: 0.5192
Epoch 49/50
141/141 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8627 - loss: 0.2900 - val_accuracy: 0.7680 - val_loss: 0.5264
Epoch 50/50
141/141 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.8722 - loss: 0.2762 - val_accuracy: 0.7662 - val_loss: 0.5315

In [47]:
loss, acc = model.evaluate(X_test, y_test)
print(f"Test accuracy: {acc:.4f}")

44/44 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - accuracy: 0.7691 - loss: 0.5399
Test accuracy: 0.7683